.DS_Store
local.properties
logs
tmp
target/
.classpath
.project
.settings/
*.log*
jvm.pid
server.info
.cache
bin/
.idea/
.gradle/
.sandbox/
build/
*.iml
hsf.configuration
*.configuration
tree.txt
*.txt
MANIFEST.MF
*.MF
/gradle/
